@import "../../scss/variables.scss";
@import "../../scss/libs/normalize";

.container {
  width: $container-width;
  margin: 20px auto;
}

.cart {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    .title {
      display: flex;
      align-items: center;
      font-size: 32px;
      @media (max-width: 600px) {
        font-size: 20px;
      }

      svg {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        path {
          stroke: $black;
          stroke-width: 1.9;
        }
      }
    }
  }

  .body {
    display: block;
  }

  .bottom {
    margin: 30px 0;

    .details {
      font-size: 20px;
      display: flex;
      justify-content: space-between;

      b {
        color: $orange;
        font-weight: 700;
      }

      div {
        margin: 5px 0px;
        @media (max-width: 1000px) {
          font-size: 16px;
        }
        @media (max-width: 450px) {
          margin-bottom: 5px;
        }
      }

      @media (max-width: 450px) {
        flex-direction: column;
        margin: 20px 0;
      }

      .calculation {
        max-width: 300px;
        background-color: $gray-line;
        padding: 10px 40px 10px 20px;
        border-radius: 5px;
        border: 1px solid #d7d7d7;
        @media (max-width: 1000px) {
          max-width: 250px;
          padding: 10px 15px 10px 15px;
        }

        .bonusApply {
          form {
            display: flex;
            justify-content: start;
            align-items: center;

            input {
              max-width: 50px;
              padding: 5px 5px;
              border: 1px solid #ccc;
              border-radius: 5px;
              transition: border-color 0.3s;
              font-size: 14px;

              &:focus {
                border-color: $orange;
              }
            }

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 10px;
              margin-left: 10px;
              background-color: $orange;
              color: #fff;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s;
              box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

              &:hover {
                background-color: darken($color: $orange, $amount: 10%);
              }
              &:active {
                background-color: darken($color: $orange, $amount: 50);
                transform: translateY(2px);
              }

              &[disabled] {
                background-color: gray;
              }

              span {
                text-wrap: nowrap;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }

        .bonusUsed {
          position: relative;
          .removeButton {
            border-radius: 30px;
            position: absolute;
            top: 4px;
            right: -28px;
            cursor: pointer;
            transition: background-color $duration ease-in-out,
              border-color $duration ease-in-out;
            border: 2px solid transparent;
            @include noselect();
            width: 20px;
            height: 20px;
            min-width: 20px;
            border-color: darken($color: $gray-line, $amount: 20);
            background-color: #fff;
            @media (max-width: 1000px) {
              top: 2px;
              right: 2px;
            }
            @media (max-width: 450px) {
              top: 2px;
              right: 12px;
            }

            svg {
              width: 70%;
              height: 70%;

              line {
                stroke: darken($color: $gray-line, $amount: 30);
              }
            }

            &:hover {
              background-color: darken($color: $gray-line, $amount: 10);
              border-color: darken($color: $gray-line, $amount: 30);

              svg {
                line {
                  stroke: #fff;
                }
              }
            }

            &:active {
              transform: translateY(2px);
            }
          }
        }

        .finalPrice {
          margin-top: 10px;
          font-weight: 700;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      @media (max-width: 700px) {
        margin-top: 20px;
      }
      @media (max-width: 450px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}
