.cartEmpty {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  max-width: 560px;
  text-align: center;
  @media (max-width: 700px) {
    margin: 0px auto;
  }

  h2 {
    line-height: 45px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
    @media (max-width: 700px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (max-width: 500px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  p {
    font-size: 20px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;
    @media (max-width: 700px) {
      font-size: 16px;
    }
    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  img {
    display: block;
    width: 300px;
    margin: 45px auto 60px;
    @media (max-width: 700px) {
      margin: 35px auto 40px;
      width: 200px;
    }
    @media (max-width: 500px) {
      margin: 25px auto 30px;
      width: 100px;
    }
  }
}
