@import "../../../scss/variables";
@import "../../../scss/libs/normalize";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 30px;
  min-width: 110px;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  border-color: darken($color: $gray-line, $amount: 20);
  background-color: darken($color: $gray-line, $amount: 2);
  @include noselect();
  padding: 5px 12px;
  max-width: 230px;
  margin: 0 auto;
  font-size: 18px;

  span {
    color: darken($color: $gray-line, $amount: 30);
    font-weight: 600;
  }

  svg {
    margin-right: 12px;
    path {
      stroke: darken($color: $gray-line, $amount: 30);
    }
  }

  &:hover {
    background-color: darken($color: $gray-line, $amount: 20);
    border-color: darken($color: $gray-line, $amount: 30);

    span {
      color: #fff;
    }

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
